body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9fafb;
}

/* LAYOUT OF THE PAGE */
#page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    gap: 20px;
}

header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

@media (max-width: 667px) {
    #page {
        display: flex;
        flex-direction: column;
    }
}