#main-and-aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main-and-aside > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

main > .hero {
    background-image: url("./assets/Hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    color: white;
    border-radius: 10px;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;
    transition: all 1s;
}

main > .hero:hover {
    background-size: 170%;
}

#main-and-aside > div > aside {
    width: 100%;
    margin-left: 100px;
}

#main-and-aside > div > main > .hero > * {
    margin-left: 50px;
    margin-bottom: -1px;
}

#main-and-aside > div > main > .hero > .hero-title {
    font-size: 40px;
}

#main-and-aside > div > main > .hero > .hero-category {
    background-color: red;
    width: min-content;
    font-size: small;
    background-repeat: no-repeat;
    padding: 5px;
}

#main-and-aside > div > main > .hero > .hero-description {
    color: hsl(0, 0%, 85%);
}

#main-and-aside > div > main > .hero > .hero-author {
    color: hsl(0, 0%, 75%);
    margin-bottom: 50px !important;
    font-size: small;
}

main > .featured {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main > .featured > .flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

main > .featured > .flex > h2 {
    width: 100%;
}

main > .featured > .flex > a {
    text-align: end;
    width: 100%;
    text-decoration: none;
    color: red;
}

main > .featured > .flex > a:hover {
    color: hsl(0, 100%, 41%);
}

main > .featured > .flex > .card {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

main > .featured > .flex > .card > .card-img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
}

main > .featured > .flex > .card > .card-category {
    font-size: small;
    color: red;
}

main > .featured > .flex > .card > .card-title {
    font-size: large;
    font-weight: bold;
}

main > .featured > .flex > .card > .card-description {
    font-size: small;
    color: hsl(0, 0%, 45%);
}

main > .featured > .flex > .card > .card-author {
    font-size: small;
    color: hsl(0, 0%, 45%);
}

main > .featured > .flex > .card:hover > .card-img {
    transform: scale(1.05);
    border-radius: 40px;
}

main > .featured > .flex > .card:hover > .card-title {
    color: red;
}

main > .latest-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px #e5e7eb;
}

main > .latest-news > .section-title {
    grid-column: span 2;
    margin: 20px;
    border-bottom: 1px solid #e5e7eb;
}

main > .latest-news > .card {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: 
        "image category"
        "image title"
        "image time";
    margin: 20px;
    cursor: pointer;
}

main > .latest-news > .card > * {
    margin: 0;
    padding: 0;
}

main > .latest-news > .card > img {
    grid-area: image; 
    width: 150px;
    height: 100px;
    border-radius: 5px;
    transition: all .5s;
}

main > .latest-news > .card:hover > img {
    scale: 1.03;
}

main > .latest-news > .card > .card-category {
    grid-area: category;
    margin-left: 10px;
    color: red;
}

main > .latest-news > .card > .card-title {
    grid-area: title;
    margin-left: 10px;
    font-weight: bold;
}

main > .latest-news > .card:hover > .card-title {
    color: red;
}

main > .latest-news > .card > .card-time {
    grid-area: time;
    margin-left: 10px;
    font-size: small;
    color: hsl(0, 0%, 55%);
}

main > .trending-now {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: red;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px #e5e7eb;
}

main > .trending-now > h2 {
    grid-column: span 3;
    margin: 20px;
}

main > .trending-now > .card {
    margin-left: 20px;
    border-left: 4px solid white;
}

main > .trending-now > .card > * {
    padding: 0;
    margin: 10px;
}

main > .trending-now > .card > .card-number {
    font-size: xx-large;
    font-weight: bolder;
    opacity: 0.5;
}

main > .trending-now > .card > .card-title {
    font-weight: bold;
}

main > .trending-now > .card > .card-description {
    font-size: small;
    color: hsl(0, 0%, 95%);
}

main > .editor-pick {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

main > .editor-pick > h2 {
    grid-column: span 3;
}

main > .editor-pick > .card {
    cursor: pointer;
}

main > .editor-pick > .card > img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    transition: all .5s;
}

main > .editor-pick > .card:hover > img {
    transform: scale(1.03);
}

main > .editor-pick > .card > .card-topic {
    font-size: small;
    color: red;
}

main > .editor-pick > .card > .card-title {
    font-weight: bold;
}

main > .editor-pick > .card:hover > .card-title {
    color: red;
}

main > .editor-pick > .card > .card-description {
    font-size: small;
    color: hsl(0, 0%, 45%);
}

main > .editor-pick > .card > .card-author {
    font-size: small;
    color: hsl(0, 0%, 65%);
}